:root {
    --blue: rgb(23, 77, 253);
    --light-blue: rgb(139, 212, 255);
    --green: rgb(38, 201, 152);
    --opacity: 0;
  }


.accordion {
    
}

.accordion:hover{
    color: var(--light-blue);
    --opacity: 1;
}

.accordion:hover .hide-btn_label{
    transition: all 1s;
}

.accordion-item {
    
    display: flex;
    overflow: hidden;
    border-top: 1px solid gray;
}

.accordion-item_radio, .hide-btn_radio {
  display: none;
}

.accordion-item_label { 
    display: flex;
    flex-direction: column;
    width:100%;
    height: 4em;
    transition: height 1s;
}

.accordion-item_label img { 
    height: 20em;
    width: fit-content;
    align-self: center;
}

.accordion-item_radio:checked + .accordion-item_label,
.accordion-item_radio:hover + .accordion-item_label,
.accordion-item:hover .accordion-item_label{
    color: var(--blue);
    height: 30em;
    transition: height 1s;
}



.hide-btn_label {
    display: flex;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-image: url(/img/cross.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: var(--opacity);
}

.accordion-item:has(.accordion-item_radio:hover) .hide-btn_label{
    opacity: 1;
    transition: all 1s;
}


.accordion-item:has(.accordion-item_radio:checked) .hide-btn_label,
.accordion-item:hover .hide-btn_label{
    background-color: var(--blue);
    transform: rotate(45deg);
    transition: all 1s;
    display: flex;
}


.accordion-item:active{
    --blue: var(--green);
}
